/* body{
	padding-top: 70px;
  padding-right: 100px;
  padding-left: 100px;
} */
.jumbotron{
	color: #2c3e50;
	background: #ecf0f1;
}
p, ul, h3{
  padding-top: 10px;
  text-align: justify;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.thumbnail{
  max-width:100%;
  padding: 4x;
  color: #333;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid;
  border-radius:4px;
  display: block;
  height: auto;
}
